# Book Reading Propensity

In [27]:
import pandas as pd
import numpy as np
import os

## Read the Data

In [78]:
df = pd.read_csv("./data/goodreads_interactions_fantasy_paranormal_2016_pairs.csv",
                dtype={'book_id':'Int64'})

In [79]:
df.shape

(3813915, 4)

In [80]:
df.head()

,user_id,book_id,date_updated,rating
0,8842281e1d1347389f2ab93d60773d4d,29058155,Tue Dec 13 11:00:02 -0800 2016,3
1,8842281e1d1347389f2ab93d60773d4d,10673579,Fri Jan 08 01:49:56 -0800 2016,5
2,8842281e1d1347389f2ab93d60773d4d,76620,Wed Dec 14 12:30:43 -0800 2016,5
3,7504b2aee1ecb5b2872d3da381c6c91e,29069989,Wed Aug 17 19:17:26 -0700 2016,2
4,7504b2aee1ecb5b2872d3da381c6c91e,8882815,Tue Jun 21 16:10:18 -0700 2016,3

In [81]:
df.dtypes

user_id         object
book_id          Int64
date_updated    object
rating           int64
dtype: object

In [82]:
datetime_format = '%a %b %d %H:%M:%S %z %Y'
df['ts'] = pd.to_datetime(df['date_updated'], format=datetime_format, errors='raise')
df.head()

,user_id,book_id,date_updated,rating,ts
0,8842281e1d1347389f2ab93d60773d4d,29058155,Tue Dec 13 11:00:02 -0800 2016,3,2016-12-13 11:00:02-08:00
1,8842281e1d1347389f2ab93d60773d4d,10673579,Fri Jan 08 01:49:56 -0800 2016,5,2016-01-08 01:49:56-08:00
2,8842281e1d1347389f2ab93d60773d4d,76620,Wed Dec 14 12:30:43 -0800 2016,5,2016-12-14 12:30:43-08:00
3,7504b2aee1ecb5b2872d3da381c6c91e,29069989,Wed Aug 17 19:17:26 -0700 2016,2,2016-08-17 19:17:26-07:00
4,7504b2aee1ecb5b2872d3da381c6c91e,8882815,Tue Jun 21 16:10:18 -0700 2016,3,2016-06-21 16:10:18-07:00

In [90]:
df['month'] = df['ts'].apply(lambda x: x.month)
df['day'] = df['ts'].apply(lambda x: x.day)
df['hour'] = df['ts'].apply(lambda x: x.hour)

df.head()

,user_id,book_id,date_updated,rating,ts,month,day,hour
0,8842281e1d1347389f2ab93d60773d4d,29058155,Tue Dec 13 11:00:02 -0800 2016,3,2016-12-13 11:00:02-08:00,12,13,11
1,8842281e1d1347389f2ab93d60773d4d,10673579,Fri Jan 08 01:49:56 -0800 2016,5,2016-01-08 01:49:56-08:00,1,8,1
2,8842281e1d1347389f2ab93d60773d4d,76620,Wed Dec 14 12:30:43 -0800 2016,5,2016-12-14 12:30:43-08:00,12,14,12
3,7504b2aee1ecb5b2872d3da381c6c91e,29069989,Wed Aug 17 19:17:26 -0700 2016,2,2016-08-17 19:17:26-07:00,8,17,19
4,7504b2aee1ecb5b2872d3da381c6c91e,8882815,Tue Jun 21 16:10:18 -0700 2016,3,2016-06-21 16:10:18-07:00,6,21,16

In [92]:
df[['user_id','book_id','month','day', 'hour', 'rating']].to_csv('./data/goodreads_pairs_2016_enhanced.csv', 
                                                                 index=False)