# Book Reading Propensity: Matrix Factorization Approach

In [1]:
import pandas as pd
import numpy as np
from scipy import sparse
import os

import matplotlib.pyplot as plt

%matplotlib inline

## Read the Data

In [2]:
train_val_path = './data/goodreads_2016_train_val.csv'

df_train_val = pd.read_csv(train_val_path)

df_train_val.head()

                            user_id   book_id  rating
0  8842281e1d1347389f2ab93d60773d4d  29058155       0
1  8842281e1d1347389f2ab93d60773d4d  10673579       5
2  8842281e1d1347389f2ab93d60773d4d     76620       0
3  7504b2aee1ecb5b2872d3da381c6c91e  29069989       2
4  7504b2aee1ecb5b2872d3da381c6c91e   8882815       3

## Create a Label/Target: "Would Recommend"

In [6]:
df['would_recommend'] = df['rating'].apply(lambda x: 1 if x >= 4 else 0)
df.head()

,user_id,book_id,month,day,hour,rating,would_recommend
0,8842281e1d1347389f2ab93d60773d4d,29058155,12,13,11,3,0
1,8842281e1d1347389f2ab93d60773d4d,10673579,1,8,1,5,1
2,8842281e1d1347389f2ab93d60773d4d,76620,12,14,12,5,1
3,7504b2aee1ecb5b2872d3da381c6c91e,29069989,8,17,19,2,0
4,7504b2aee1ecb5b2872d3da381c6c91e,8882815,6,21,16,3,0

## Save the Results

In [17]:
df.head()

,user_id,book_id,month,day,hour,rating,would_recommend,rating_train,rating_test
0,8842281e1d1347389f2ab93d60773d4d,29058155,12,13,11,3,0,0,3
1,8842281e1d1347389f2ab93d60773d4d,10673579,1,8,1,5,1,5,0
2,8842281e1d1347389f2ab93d60773d4d,76620,12,14,12,5,1,0,5
3,7504b2aee1ecb5b2872d3da381c6c91e,29069989,8,17,19,2,0,2,0
4,7504b2aee1ecb5b2872d3da381c6c91e,8882815,6,21,16,3,0,3,0

In [22]:
# test_path = './data/goodreads_2016_test.csv'
# df[['user_id', 'book_id', 'rating_test']].\
#             rename(columns={'rating_test': 'rating'}).\
#             to_csv(test_path, index=False)

# pd.read_csv(test_path).head()

                            user_id   book_id  rating
0  8842281e1d1347389f2ab93d60773d4d  29058155       3
1  8842281e1d1347389f2ab93d60773d4d  10673579       0
2  8842281e1d1347389f2ab93d60773d4d     76620       5
3  7504b2aee1ecb5b2872d3da381c6c91e  29069989       0
4  7504b2aee1ecb5b2872d3da381c6c91e   8882815       0

In [ ]:
# df_ratings = df.groupby(['user_id', 'book_id'])['rating'].last().unstack()

/Users/kostyamostya/opt/anaconda3/lib/python3.9/site-packages/pandas/core/reshape/reshape.py:134: PerformanceWarning: The following operation may generate 50423000694 cells in the resulting pandas object.
  warnings.warn(

In [41]:
df_ratings.head()

user_id                           book_id
00000377eea48021d3002730d56aca9a  2          5
                                  3          5
                                  14497      5
                                  15881      5
                                  1482132    5
Name: rating, dtype: uint8